﻿<template>
  <div>
    <h1>Transaksi Pemeliharaan Kendaraan dan Operasional</h1>

    <div class="header-line"></div>
    <div class="menu-panel">

      <div class="text-right">
        <p>
          <b>
            Show <select></select> items per page
          </b>
        </p>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Uraian Kegiatan</th>
              <th>Nomor Kontrak</th>
              <th>Unit Kerja</th>
              <th>Jenis Pemeliharaan</th>
              <th>Biaya Pemeliharaan</th>
              <th>Tanggal Pemeliharaan</th>
              <th>Berkas</th>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-control" />
              </td>
              <td>
                <input type="text" class="form-control" />
              </td>
              <td>
                <input type="text" class="form-control" />
              </td>
              <td>
                <input type="text" class="form-control" />
              </td>
              <td>
                <input type="text" class="form-control" />
              </td>
              <td>
                <input type="text" class="form-control" />
              </td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                "Pekerjaan jasa Pengamanan kantor Pusat BMKG"
              </td>
              <td>
                PL.101/PLH.001/3340.994/002.A/52
              </td>
              <td>
                Operasional Biro Umum dan SDM
              </td>
              <td>
                3340.994/002.A/521111
              </td>
              <td>
                Rp. 61.266.839
              </td>
              <td>
                31 Januari 2019
              </td>

              <td>
                <button class="btn-success button-table">
                  <fa icon="download"></fa>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                "Pekerjaan jasa Pengamanan kantor Pusat BMKG"
              </td>
              <td>
                PL.101/PLH.001/3340.994/002.A/52
              </td>
              <td>
                Operasional Biro Umum dan SDM
              </td>
              <td>
                3340.994/002.A/521111
              </td>
              <td>
                Rp. 197.815.882
              </td>
              <td>
                31 Januari 2019
              </td>

              <td>
                <button class="btn-success button-table">
                  <fa icon="download"></fa>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                "Pekerjaan jasa Pengamanan kantor Pusat BMKG"
              </td>
              <td>
                PL.101/PLH.001/3340.994/002.A/52
              </td>
              <td>
                Operasional Biro Umum dan SDM
              </td>
              <td>
                3340.994/002.A/521111
              </td>
              <td>
                Rp. 179.961.700
              </td>
              <td>
                31 Januari 2019
              </td>

              <td>
                <button class="btn-success button-table">
                  <fa icon="download"></fa>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="menu-panel col-md-12">
      <div class="panel-inside-padding">
        <form class="form-horizontal">

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="control-label">
                Kelompok Kegiatan<span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" v-model="kelompokKegiatan" disabled=""/>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="control-label">
                Uraian Kegiatan<span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <select class="form-control" v-model="grupPagu">
                <option value="">
                  Pekerjaan jasa Pengamanan kantor Pusat BMKG
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="control-label">
                Nomor Kontrak <span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" v-model="message" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="control-label">
                Unit Kerja<span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <select class="form-control" v-model="grupPagu">
                <option value="Pemeliharaan Gedung Bangunan">
                  Operasional Biro Umum dan SDM
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="control-label">
                Jenis Pemeliharaan<span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" v-model="namapenyedia" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="control-label">
                Biaya Pemeliharaan<span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" v-model="message" />
            </div>
          </div>

          <div class="form-group row" v-show="grupPagu != 'Pemeliharaan Kendaraan Operasional'">
            <div class="col-sm-3">
              <label class="control-label">
                Nama Penyedia<span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" v-model="namapenyedia" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="control-label">
                Tanggal Pemeliharaan<span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" type="date" v-model="tanggalPemeliharaan"></input>
            </div>
          </div>

          <div class="form-group row" v-show="grupPagu != 'Pemeliharaan Kendaraan Operasional'">
            <div class="col-sm-3">
              <label class="control-label">
                Durasi<span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" v-model="durasi" type="number" />
            </div>
          </div>

          <div class="form-group row" v-show="grupPagu != 'Pemeliharaan Kendaraan Operasional'">
            <div class="col-sm-3">
              <label class="control-label">
                Tanggal Selesai<span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" type="date" v-model="tanggalSelesai" />
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-3">
              <label class="control-label">
                Unggah Berkas<span class="mandatory"> *</span>
              </label>
            </div>
            <div class="col-sm-9">
              <input type="file" />
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row text-right">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-primary">Simpan</button>
        <button type="reset" class="btn btn-danger">Batal</button>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class ServiceExecution extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";
  grupPagu: string = "";
  kelompokKegiatan: string = "Pemeliharaan Kendaraan Operasional";

  showConfirmation() {

  }
  }
</script>
