﻿<template>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h1>Inbox</h1>
      </div>

      <div class="header-line"></div>
      <div class="menu-panel">

        <div class="text-right">
          <p>
            <b>
              Show <select></select> items per page
            </b>
          </p>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>From</th>
                <th>Subject</th>
                <th>Date</th>
                <th></th>
              </tr>
              <tr>
                <td>
                  <input type="text" class="form-control"></input>
                </td>
                <td>
                  <input type="text" class="form-control"></input>
                </td>
                <td>
                  <div class="input-group">
                    <input class="form-control" type="date"></input>
                  </div>
                  <div class="input-group">
                    <input class="form-control" type="date"></input>
                  </div>
                </td>
                <td>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!--Data 1-->
                <td>Arga Revata</td>
                <td>
                  <div>
                    Asset Removal Request <fa icon="exclamation-circle"></fa>
                  </div>
                </td>
                <td>
                  20 Maret 2019
                </td>
                <td>
                  <button class="btn-info button-table" data-toggle="modal" data-target="#myModal" style="cursor:pointer">
                    <fa icon="eye"></fa>
                  </button>
                  <div class="modal fade bd-example-modal-lg" id="myModal">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Asset Removal Request</h4>
                          <button type="button" class="close" data-dismiss="modal">X</button>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-1">
                                <b>From:</b>
                              </div>
                              <div class="col-md-11">
                                Arga Revata
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" style="padding-bottom:20px;">
                            <div class="row">
                              <div class="col-md-1">
                                <b>Date:</b>
                              </div>
                              <div class="col-md-11">
                                26 March 2019
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <b>Message:</b>
                              </div>
                              <div class="col-md-12">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success"> Approve </button>
                          <button type="button" class="btn btn-danger"> Reject </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <!--Data 2-->
              <tr>
                <td>System</td>
                <td>
                  <div>
                    Reminder
                  </div>
                </td>
                <td>
                  28 Maret 2019
                </td>
                <td>
                  <button class="btn-info button-table" data-toggle="modal" data-target="#myModal2" style="cursor:pointer">
                    <fa icon="eye"></fa>
                  </button>
                  <div class="modal fade bd-example-modal-lg" id="myModal2">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Asset Removal Request</h4>
                          <button type="button" class="close" data-dismiss="modal">X</button>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-1">
                                <b>From:</b>
                              </div>
                              <div class="col-md-11">
                                System
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" style="padding-bottom:20px;">
                            <div class="row">
                              <div class="col-md-1">
                                <b>Date:</b>
                              </div>
                              <div class="col-md-11">
                                28 March 2019
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <b>Message:</b>
                              </div>
                              <div class="col-md-12">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class AssetLocation extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";

  showConfirmation() {

  }
  }
</script>
