﻿<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Dashboard</h1>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary">Download</button>
                    </div>
                </div>
            </div>

            <div class="header-line"></div>

            <div class="menu-panel col-md-12">
                <div class="panel-inside-padding">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Kelompok Kegiatan</th>
                                    <th>Pagu</th>
                                    <th>Realisasi</th>
                                    <th>Sisa Anggaran</th>
                                    <th>Persentase</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        3340.956/051.A/521111 - Belanja Jasa Outsourcing
                                    </td>
                                    <td>
                                        Rp 2.520.000.000
                                    </td>
                                    <td>
                                        Rp 2.000.000.000
                                    </td>
                                    <td>
                                        Rp 520.000.000
                                    </td>
                                    <td>
                                        79%
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3340.956/051.B/523111 - Pemeliharaan Gedung dan Bangunan
                                    </td>
                                    <td>
                                        Rp 7.457.150.000
                                    </td>
                                    <td>
                                        Rp 7.000.000.000
                                    </td>
                                    <td>
                                        Rp 457.000.000
                                    </td>
                                    <td>
                                        94%
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3340.956/052.A/521111 - Belanja Bahan Non Jasa
                                    </td>
                                    <td>
                                        Rp 3.360.000.000
                                    </td>
                                    <td>
                                        Rp 3.300.000.000
                                    </td>
                                    <td>
                                        Rp 360.000.000
                                    </td>
                                    <td>
                                        98%
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3340.994/002.A/521111 - Honor Jasa Outsourcing
                                    </td>
                                    <td>
                                        Rp 12.725.200.000
                                    </td>
                                    <td>
                                        Rp 10.000.000.000
                                    </td>
                                    <td>
                                        Rp 2.725.200.000
                                    </td>
                                    <td>
                                        79%
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3340.994/002.B/523121 - Pemeliharaan Peralatan Mesin
                                    </td>
                                    <td>
                                        Rp 10.107.703.000
                                    </td>
                                    <td>
                                        Rp 10.000.000.000
                                    </td>
                                    <td>
                                        Rp 107.703.000
                                    </td>
                                    <td>
                                        99%
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3340.994/002.B/523121 - Pemeliharaan Kendaraan Operasional
                                    </td>
                                    <td>
                                        Rp 5.923.800.000
                                    </td>
                                    <td>
                                        Rp 5.000.000.000
                                    </td>
                                    <td>
                                        Rp 923.800.000
                                    </td>
                                    <td>
                                        84%
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3340.994/002.B/523121 - Pemeliharaan  Kompleks Gedung Serbaguna Citeko
                                    </td>
                                    <td>
                                        Rp 1.379.560.000
                                    </td>
                                    <td>
                                        Rp 1.000.000.000
                                    </td>
                                    <td>
                                        Rp 379.560.000
                                    </td>
                                    <td>
                                        72%
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-panel">
            <div class="row">
                <div class="col-10">
                    <h5>3340.956/051.A/521111 - Belanja Jasa Outsourcing</h5>
                </div>
                <div class="col-2 text-right">
                    <button type="button" class="btn-colapse" data-toggle="collapse" data-target="#tableBuilding">
                        <fa icon="chevron-down"></fa>
                    </button>
                </div>
            </div>

            <div class="table-responsive collapse" id="tableBuilding">

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Uraian Kegiatan</th>
                            <th>Pagu</th>
                            <th>Realisasi</th>
                            <th>Sisa Anggaran</th>
                            <th>Persentase</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Perbaikan Server
                            </td>
                            <td>
                                Rp 2.520.000.000
                            </td>
                            <td>
                                Rp 2.000.000.000
                            </td>
                            <td>
                                Rp 520.000.000
                            </td>
                            <td>
                                79%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 2 -->
        <div class="menu-panel">
            <div class="row">
                <div class="col-10">
                    <h5>3340.956/051.B/523111 - Pemeliharaan Gedung dan Bangunan</h5>
                </div>
                <div class="col-2 text-right">
                    <button type="button" class="btn-colapse" data-toggle="collapse" data-target="#tableVehicle">
                        <fa icon="chevron-down"></fa>
                    </button>
                </div>
            </div>
            <div class="table-responsive collapse" id="tableVehicle">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Uraian Kegiatan</th>
                            <th>Pagu</th>
                            <th>Realisasi</th>
                            <th>Sisa Anggaran</th>
                            <th>Persentase</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Pemeliharaan Taman
                            </td>
                            <td>
                                Rp 7.457.150.000
                            </td>
                            <td>
                                Rp 7.000.000.000
                            </td>
                            <td>
                                Rp 457.000.000
                            </td>
                            <td>
                                94%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 3 -->
        <div class="menu-panel">
            <div class="row">
                <div class="col-10">
                    <h5>3340.956/052.A/521111 - Belanja Bahan Non Jasa</h5>
                </div>
                <div class="col-2 text-right">
                    <button type="button" class="btn-colapse" data-toggle="collapse" data-target="#tableAsset">
                        <fa icon="chevron-down"></fa>
                    </button>
                </div>
            </div>
            <div class="table-responsive collapse" id="tableAsset">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Uraian Kegiatan</th>
                            <th>Pagu</th>
                            <th>Realisasi</th>
                            <th>Sisa Anggaran</th>
                            <th>Persentase</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Belanja Barang Operasional
                            </td>
                            <td>
                                Rp 3.360.000.000
                            </td>
                            <td>
                                Rp 3.300.000.000
                            </td>
                            <td>
                                Rp 360.000.000
                            </td>
                            <td>
                                98%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 4 -->
        <div class="menu-panel">
            <div class="row">
                <div class="col-10">
                    <h5>3340.994/002.A/521111 - Honor Jasa Outsourcing</h5>
                </div>
                <div class="col-2 text-right">
                    <button type="button" class="btn-colapse" data-toggle="collapse" data-target="#tableShop">
                        <fa icon="chevron-down"></fa>
                    </button>
                </div>
            </div>
            <div class="table-responsive collapse" id="tableShop">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Uraian Kegiatan</th>
                            <th>Pagu</th>
                            <th>Realisasi</th>
                            <th>Sisa Anggaran</th>
                            <th>Persentase</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Pembiayaan Honor
                            </td>
                            <td>
                                Rp 3.360.000.000
                            </td>
                            <td>
                                Rp 3.300.000.000
                            </td>
                            <td>
                                Rp 360.000.000
                            </td>
                            <td>
                                77%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--5-->
        <div class="menu-panel">
            <div class="row">
                <div class="col-10">
                    <h5>3340.994/002.B/523121 - Pemeliharaan Peralatan Mesin</h5>
                </div>
                <div class="col-2 text-right">
                    <button type="button" class="btn-colapse" data-toggle="collapse" data-target="#tableMaintainance">
                        <fa icon="chevron-down"></fa>
                    </button>
                </div>
            </div>
            <div class="table-responsive collapse" id="tableMaintainance">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Uraian Kegiatan</th>
                            <th>Pagu</th>
                            <th>Realisasi</th>
                            <th>Sisa Anggaran</th>
                            <th>Persentase</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Perawatan Mesin Kendaraan
                            </td>
                            <td>
                                Rp 10.107.703.000
                            </td>
                            <td>
                                Rp 10.000.000.000
                            </td>
                            <td>
                                Rp 107.703.000
                            </td>
                            <td>
                                99%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--6-->
        <div class="menu-panel">
            <div class="row">
                <div class="col-10">
                    <h5>3340.994/002.B/523121 - Pemeliharaan Kendaraan Operasional</h5>
                </div>
                <div class="col-2 text-right">
                    <button type="button" class="btn-colapse" data-toggle="collapse" data-target="#tableOperational">
                        <fa icon="chevron-down"></fa>
                    </button>
                </div>
            </div>
            <div class="table-responsive collapse" id="tableOperational">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Uraian Kegiatan</th>
                            <th>Pagu</th>
                            <th>Realisasi</th>
                            <th>Sisa Anggaran</th>
                            <th>Persentase</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Service Berkala
                            </td>
                            <td>
                                Rp 5.923.800.000
                            </td>
                            <td>
                                Rp 5.000.000.000
                            </td>
                            <td>
                                Rp 923.800.000
                            </td>
                            <td>
                                84%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--7-->
        <div class="menu-panel">
            <div class="row">
                <div class="col-10">
                    <h5>3340.994/002.B/523121 - Pemeliharaan Kompleks Gedung Serbaguna Citeko</h5>
                </div>
                <div class="col-2 text-right">
                    <button type="button" class="btn-colapse" data-toggle="collapse" data-target="#tableKompleks">
                        <fa icon="chevron-down"></fa>
                    </button>
                </div>
            </div>

            <div class="table-responsive collapse" id="tableKompleks">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Uraian Kegiatan</th>
                            <th>Pagu</th>
                            <th>Realisasi</th>
                            <th>Sisa Anggaran</th>
                            <th>Persentase</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Pemeliharaan Gedung
                            </td>
                            <td>
                                Rp 1.379.560.000
                            </td>
                            <td>
                                Rp 1.000.000.000
                            </td>
                            <td>
                                Rp 379.560.000
                            </td>
                            <td>
                                72%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class Dashboard extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";


  showConfirmation() {

  }
  }
</script>