﻿<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h1>Pagu</h1>
            </div>

            <div class="header-line"></div>
            <div class="menu-panel">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <b>
                                Periode:
                                <select>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                </select>
                            </b>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>
                                <b>
                                    Show <select></select> items per page
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Kelompok Kegiatan</th>
                                <th>Uraian Kegiatan</th>
                                <th>Nilai Pagu</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Delete</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Pemeliharaan Gedung dan Bangunan
                                </td>
                                <td>
                                    Pemeliharaan Taman
                                </td>
                                <td>Rp 7.457.150.000</td>

                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn-danger button-table">
                                        <fa icon="trash-alt"></fa>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="menu-panel col-md-12">
                <div class="panel-inside-padding">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Periode<span class="mandatory"></span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <select class="form-control">
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Kelompok Kegiatan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <select class="form-control">
                                        <option value="Belanja Bahan Jasa Outsourcing">
                                            Belanja Bahan Jasa Outsourcing
                                        </option>
                                        <option value="Pemeliharaan Gedung dan Bangunan">
                                            Pemeliharaan Gedung dan Bangunan
                                        </option>
                                        <option value="Belanja Bahan Non Jasa">
                                            Belanja Bahan Non Jasa
                                        </option>
                                        <option value="Honor Jasa Outsourcing">
                                            Honor Jasa Outsourcing
                                        </option>
                                        <option value="Pemeliharaan Peralatan Mesin">
                                            Pemeliharaan Peralatan Mesin
                                        </option>
                                        <option value="Pemeliharaan Kendaraan Operasional">
                                            Pemeliharaan Kendaraan Operasional
                                        </option>
                                        <option value="Pemeliharaan Sarana Kompleks Gedung Serbaguna Citeko">
                                            Pemeliharaan Kompleks Gedung Serbaguna Citeko
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Akun Kegiatan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="kodePagu" disabled="" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Uraian Kegiatan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="namaPagu" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nilai Pagu<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="nilaiPagu" type="number" />
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class Pagu extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";

  showConfirmation() {

  }
  }
</script>
