﻿<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h1>Penghapusan Aset</h1>
            </div>

            <div class="header-line"></div>
            <div class="menu-panel">
                <div class="text-right">
                    <p>
                        <b>
                            Show <select></select> items per page
                        </b>
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nomor Pengajuan</th>
                                <th>Nama</th>
                                <th>Tanggal Pengajuan</th>
                                <th>Alasan</th>
                                <th>Kategori</th>
                                <th>Status</th>
                                <th>Berkas</th>
                                <th>Edit</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>001</td>
                                <td>
                                    HONDA CITY, HONDA STREAM
                                </td>
                                <td>
                                    21 Januari 2019
                                </td>
                                <td>
                                    Biaya pemeliharaan terlalu tinggi
                                </td>
                                <td>
                                    Lelang
                                </td>
                                <td>
                                    Sedang Ditinjau
                                </td>
                                <td>
                                    <button class="btn-success button-table">
                                        <fa icon="download"></fa>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="menu-panel col-md-12">
                <div class="panel-inside-padding">
                    <form @submit.prevent="showConfirmation()" class="form-horizontal">

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nomor Pengajuan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nama<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <input class="form-control" v-model="message" />
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn-warning button-table" data-toggle="modal" data-target="#aaaa" style="cursor:pointer">
                                            <fa icon="search"></fa>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade bd-example-modal-lg" id="aaaa">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Daftar Aset</h4>
                                        <button type="button" class="close" data-dismiss="modal">X</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Kelompok Kegiatan</th>
                                                            <th>Kode Barang</th>
                                                            <th>NUP</th>
                                                            <th>Nama</th>
                                                            <th>Nomor Polisi</th>
                                                            <th>Nama Pengguna</th>
                                                            <th>Unit Kerja</th>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>
                                                                <input type="text" class="form-control" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" />
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" />
                                                            </td>
                                                            <td>
                                                                Pemeliharaan Kendaraan Operasional
                                                            </td>
                                                            <td>
                                                                3.02.01.01.001
                                                            </td>
                                                            <td>
                                                                2
                                                            </td>
                                                            <td>
                                                                HONDA CITY
                                                            </td>
                                                            <td>
                                                                B 1152 GQ
                                                            </td>
                                                            <td>
                                                                Operasional
                                                            </td>
                                                            <td>
                                                                Operasional Biro Umum dan SDM
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"> Pilih </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Alasan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Kategori<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option value="Lelang">
                                        Lelang
                                    </option>
                                    <option value="Transfer Keluar">
                                        Transfer Keluar
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Status<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option value="Sedang ditinjau">
                                        Sedang ditinjau
                                    </option>
                                    <option value="Sudah disetujui">
                                        Sudah disetujui
                                    </option>
                                    <option value="Tidak disetujui">
                                        Tidak disetujui
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Unggah Berkas<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input type="file" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
        <div class="row text-left">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary">Simpan</button>
                <button type="reset" class="btn btn-danger">Batal</button>
                <button type="reset" class="btn btn-success">Cetak</button>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class PenghapusanAset extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";

  showConfirmation() {

  }
  }
</script>
