﻿<template>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h1>Monitoring STNK</h1>
      </div>

      <div class="header-line"></div>
      <div class="menu-panel">

        <div class="text-right">
          <p>
            <b>
              Show <select></select> items per page
            </b>
          </p>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Nomor Polisi</th>
                <th>Tanggal Pembayaran</th>
                <th class="text-center">Berkas</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>
              </tr>
              <tr>
                <td>
                  <div class="input-group">
                    <input class="form-control" type="text"></input>
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input class="form-control" type="date"></input>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  B 1999 CKM
                </td>
                <td>
                  10 Maret 2019
                </td>

                <td class="text-center">
                  <button class="btn-success button-table text-center" style="cursor:pointer">
                    <fa icon="download" data-toggle="modal" data-target="#myModal" style="cursor:pointer"></fa>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn-primary button-table">
                    <fa icon="edit"></fa>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn-danger button-table">
                    <fa icon="trash-alt"></fa>
                  </button>
                </td>
                <div class="modal fade bd-example-modal-lg" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Photo (B 1999 CKM)</h4>
                        <button type="button" class="close" data-dismiss="modal">X</button>
                      </div>
                      <div class="modal-body">
                        <div class="col-md-12 layout-photo">
                          <img src="/images/sigra.jpg" style="width:100%;height:400px;"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="menu-panel col-md-12">
        <div class="panel-inside-padding">
          <form @submit.prevent="showConfirmation()" class="form-horizontal">
            <div class="form-group row">
              <div class="col-sm-3">
                <label class="control-label">
                  Nomor Polisi<span class="mandatory"> *</span>
                </label>
              </div>
              <div class="col-sm-9 row">
                <div class="col-sm-11" style="padding-left:30px;">
                  <input class="form-control" v-model="message" />
                </div>
                <div class="col-sm-1">
                  <button class="btn-warning button-table" data-toggle="modal" data-target="#myModal" style="cursor:pointer">
                    <fa icon="search"></fa>
                  </button>
                </div>
              </div>
            </div>

            <div class="modal fade bd-example-modal-lg" id="myModal">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Daftar Aset</h4>
                    <button type="button" class="close" data-dismiss="modal">X</button>
                  </div>
                  <div class="modal-body">
                    <div class="col-md-12">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Grup Pagu</th>
                              <th>Kode Barang</th>
                              <th>NUP</th>
                              <th>Nama</th>
                              <th>Nomor</th>
                              <th>Nama Pengguna</th>
                              <th>Unit Kerja</th>
                            </tr>
                            <tr>
                              <td></td>
                              <td>
                                <input type="text" class="form-control" />
                              </td>
                              <td>
                                <input type="text" class="form-control" />
                              </td>
                              <td>
                                <input type="text" class="form-control" />
                              </td>
                              <td>
                                <input type="text" class="form-control" />
                              </td>
                              <td>
                                <input type="text" class="form-control" />
                              </td>
                              <td>
                                <input type="text" class="form-control" />
                              </td>
                              <td>
                                <input type="text" class="form-control" />
                              </td>

                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <input type="checkbox" />
                              </td>
                              <td>
                                Pemeliharaan kendaraan operasional
                              </td>
                              <td>
                                3.02.01.01.001
                              </td>
                              <td>
                                2
                              </td>
                              <td>
                                HONDA CITY
                              </td>
                              <td>
                                B 1152 GQ
                              </td>
                              <td>
                                Operasional
                              </td>
                              <td>
                                Operasional Biro Umum dan SDM
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary"> Pilih </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-3">
                <label class="control-label">
                  Tanggal Pembayaran<span class="mandatory"> *</span>
                </label>
              </div>
              <div class="col-sm-9">
                <div class="col-sm-12">
                  <input class="form-control"  type="date" />
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-3">
                <label class="control-label">
                  Berkas<span class="mandatory"> *</span>
                </label>
              </div>
              <div class="col-sm-9">
                <div class="col-sm-12">
                  <input type="file" name="file" id="file"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class AssetLocation extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";

  showConfirmation() {

  }
  }
</script>
