﻿<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h1>Daftar Penyedia</h1>
            </div>

            <div class="header-line"></div>
            <div class="menu-panel">

                <div class="text-right">
                    <p>
                        <b>
                            Show <select></select> items per page
                        </b>
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nama Penyedia</th>
                                <th>Alamat Penyedia</th>
                                <th>Nomor Telepon</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th class="text-center">Edit</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" v-model="nama" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" v-model="alamat" />
                                </td>
                                <td>
                                    <input type="number" class="form-control" v-model="nomor" />
                                </td>
                                <td>
                                    <input type="email" class="form-control" v-model="email" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" v-model="status" />
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    PT Revata Corporation
                                </td>
                                <td>
                                    Springwood Residence Tower A, 7th Floor, Pakualam, North Serpong, South Tangerang City, Banten 15320
                                </td>
                                <td>
                                    08828318301
                                </td>
                                <td>
                                    Revata@corp.com
                                </td>
                                <td>
                                    Aktif
                                </td>
                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    CV. Berkah Wahyu Lestari
                                </td>
                                <td>
                                    Summerwood Residence Tower B, 7th Floor, Pakualam, North Serpong, South Tangerang City, Banten 15320
                                </td>
                                <td>
                                    07728018401
                                </td>
                                <td>
                                    Tayo@corp.com
                                </td>
                                <td>
                                    Tidak Aktif
                                </td>
                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="menu-panel col-md-12">
                <div class="panel-inside-padding">
                    <form @submit.prevent="showConfirmation()" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nama Penyedia<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="message" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Alamat Penyedia<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="message" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nomor Telepon<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="message" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Email<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="message" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    NPWP<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="message" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nama Bank<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <select class="form-control" v-model="namaBank">
                                        <option value="BCA">
                                            BCA (Bank Central Asia)
                                        </option>
                                        <option value="CIMBNiaga">
                                            CIMB Niaga
                                        </option>
                                        <option value="Permata Syariah">
                                            Permata Syariah
                                        </option>
                                        <option value="BRI">
                                            BRI
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nama Rekening<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="message" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nomor Rekening<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="message" />
                                </div>
                            </div>
                        </div>



                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Keterangan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="4" v-model="address"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Status<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <select class="form-control" v-model="grupPagu">
                                        <option value="Aktif">
                                            Aktif
                                        </option>
                                        <option value="Tidak Aktif">
                                            Tidak Aktif
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary">Simpan</button>
                <button type="reset" class="btn btn-danger">Batal</button>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class DaftarPenyedia extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";

  showConfirmation() {

  }
  }
</script>
