﻿<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h1>Daftar Pengguna</h1>
            </div>

            <div class="header-line"></div>
            <div class="menu-panel">

                <div class="text-right">
                    <p>
                        <b>
                            Show <select></select> items per page
                        </b>
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Jabatan</th>
                                <th>Unit Kerja</th>
                                <th class="text-center">Ubah</th>
                                <th class="text-center">Hapus</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    ArgaRevata@gmail.com
                                </td>
                                <td>
                                    Kepala Biro Hukum
                                </td>
                                <td>Operasional Biro Umum dan SDM</td>

                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn-danger button-table">
                                        <fa icon="trash-alt"></fa>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    KennyNataniel@gmail.com
                                </td>
                                <td>
                                    Staff Biro Hukum
                                </td>
                                <td>Operasional Biro Umum dan SDM</td>

                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn-danger button-table">
                                        <fa icon="trash-alt"></fa>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    devinjastona@gmail.com
                                </td>
                                <td>
                                    Staff Biro Hukum
                                </td>
                                <td>Operasional Biro Umum dan SDM</td>

                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn-danger button-table">
                                        <fa icon="trash-alt"></fa>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="menu-panel col-md-12">
                <div class="panel-inside-padding">
                    <form @submit.prevent="showConfirmation()" class="form-horizontal">

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nama<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="nama" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Email<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" v-model="email" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Password<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" v-model="password" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Jabatan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <select class="form-control" v-model="grupPagu">
                                        <option value="Pemeliharaan Gedung Bangunan">
                                            Kepala Biro Hukum
                                        </option>
                                        <option value="Pemeliharaan Kendaraan Operasional">
                                            Staff Biro Hukum
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Unit Kerja<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <select class="form-control" v-model="grupPagu">
                                        <option value="Pemeliharaan Gedung Bangunan">
                                            Operasional Biro Umum dan SDM
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary">Simpan</button>
                <button type="reset" class="btn btn-danger">Batal</button>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class DaftarPengguna extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";

  showConfirmation() {

  }
  }
</script>
