﻿<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Daftar Aset</h1>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary">Download</button>
                    </div>
                </div>
            </div>

            <div class="header-line"></div>
            <div class="menu-panel">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Kelompok Kegiatan</th>
                                <th>Kode Barang</th>
                                <th>NUP</th>
                                <th>Nama</th>
                                <th>Nomor Polisi</th>
                                <th>Nama Pengguna</th>
                                <th>Unit Kerja</th>
                                <th>Edit</th>
                                <th>File</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>

                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Pemeliharaan Kendaraan Operasional</td>
                                <td>
                                    3.02.01.01.001
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    HONDA CITY
                                </td>
                                <td>
                                    B 1152 GQ
                                </td>
                                <td>
                                    Operasional
                                </td>
                                <td>
                                    Operasional Biro Umum dan SDM
                                </td>

                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-success button-table">
                                        <fa icon="download"></fa>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td>Pemeliharaan Kendaraan Operasional</td>
                                <td>
                                    3.02.01.01.003
                                </td>
                                <td>
                                    218
                                </td>
                                <td>
                                    HONDA STREAM
                                </td>
                                <td>
                                    B 2774 EQ
                                </td>
                                <td>
                                    Operasional
                                </td>
                                <td>
                                    Operasional Biro Umum dan SDM
                                </td>

                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-success button-table">
                                        <fa icon="download"></fa>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="menu-panel col-md-12">
                <div class="panel-inside-padding">
                    <form class="form-horizontal">

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Kelompok Kegiatan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option value="Belanja Bahan Jasa Outsourcing">
                                        Belanja Bahan Jasa Outsourcing
                                    </option>
                                    <option value="Pemeliharaan Gedung dan Bangunan">
                                        Pemeliharaan Gedung dan Bangunan
                                    </option>
                                    <option value="Belanja Bahan Non Jasa">
                                        Belanja Bahan Non Jasa
                                    </option>
                                    <option value="Honor Jasa Outsourcing">
                                        Honor Jasa Outsourcing
                                    </option>
                                    <option value="Pemeliharaan Peralatan Mesin">
                                        Pemeliharaan Peralatan Mesin
                                    </option>
                                    <option value="Pemeliharaan Kendaraan Operasional">
                                        Pemeliharaan Kendaraan Operasional
                                    </option>
                                    <option value="Pemeliharaan Sarana Kompleks Gedung Serbaguna Citeko">
                                        Pemeliharaan Kompleks Gedung Serbaguna Citeko
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Kode Barang<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="kodeBarang" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    NUP<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="nup" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nama<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="nama" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nomor Polisi<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="nama" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nama Pengguna<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="namaPengguna" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Unit Kerja<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" v-model="grupPagu">
                                    <option value="Pemeliharaan Gedung Bangunan">
                                        Operasional Biro Umum dan SDM
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" v-show="grupPagu == 'Pemeliharaan Kendaraan Operasional'">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nama Pengguna<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="namaPengguna" />
                            </div>
                        </div>

                        <div class="form-group row" v-show="grupPagu == 'Pemeliharaan Kendaraan Operasional'">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Unit Kerja<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option value="Marketing">
                                        Marketing
                                    </option>
                                    <option value="HR">
                                        HR
                                    </option>
                                    <option value="Finance">
                                        Finance
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Tahun Pengadaan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="date" v-model="tahunPengadaan" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Tanggal STNK<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="date" v-model="tahunPengadaan" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Nilai Perolehan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="nilaiPerolehan" type="number" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Keterangan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="4" v-model="keterangan"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Status<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" v-model="status">
                                    <option value="Aktif">
                                        Aktif
                                    </option>
                                    <option value="Non Aktif">
                                        Non Aktif
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" v-show="grupPagu == 'Pemeliharaan Kendaraan Operasional'">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    SK<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="sk" />
                            </div>
                        </div>

                        <div class="form-group row" v-show="grupPagu == 'Pemeliharaan Kendaraan Operasional'">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Tanggal STNK<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="tanggalSTNK" type="date" />
                            </div>
                        </div>

                        <div class="form-group row" v-show="grupPagu == 'Pemeliharaan Kendaraan Operasional'">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Pajak STNK<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="pajakSTNK" type="date" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Unggah Dokumen<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input type="file" name="file" id="file" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row text-left">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary">Simpan</button>
                <button type="reset" class="btn btn-danger">Batal</button>
            </div>
        </div>

    </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class DaftarAset extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";
  grupPagu: string = "";

  showConfirmation() {

  }
  }
</script>
