﻿<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h1>Unit Kerja</h1>
            </div>

            <div class="header-line"></div>
            <div class="menu-panel">

                <div class="text-right">
                    <p>
                        <b>
                            Show <select></select> items per page
                        </b>
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Unit Kerja</th>
                                <th>Keterangan</th>
                                <th>Induk Unit Kerja</th>
                                <th class="text-center">Ubah</th>
                                <th class="text-center">Hapus</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Operasional Biro Umum dan SDM
                                </td>
                                <td>
                                    Area Kemayoran
                                </td>
                                <td>
                                    -
                                </td>
                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn-danger button-table">
                                        <fa icon="trash-alt"></fa>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Operasional Bidang Kalibrasi Peralatan  Klimatologi dan Kualitas Udara
                                </td>
                                <td>
                                    Area Kemayoran
                                </td>
                                <td>
                                    -
                                </td>
                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn-danger button-table">
                                        <fa icon="trash-alt"></fa>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Operasional TU Deputi Geofisika
                                </td>
                                <td>
                                    Area Kemayoran
                                </td>
                                <td>
                                    Operasional Biro Umum dan SDM
                                </td>
                                <td class="text-center">
                                    <button class="btn-primary button-table">
                                        <fa icon="edit"></fa>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn-danger button-table">
                                        <fa icon="trash-alt"></fa>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="menu-panel col-md-12">
                <div class="panel-inside-padding">
                    <form class="form-horizontal">

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Unit Kerja<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="message" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Keterangan<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="4" v-model="address"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="control-label">
                                    Induk Unit Kerja<span class="mandatory"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" v-model="message" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary">Simpan</button>
                <button type="reset" class="btn btn-danger">Batal</button>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';

    @Component({
        props: ['framework', 'compiler']
    })
    export default class UnitKerja extends Vue {
        framework: string;
        compiler: string;
        message: string = "";
        address: string = "";

        showConfirmation() {

        }
    }
</script>

