﻿@import 'bootstrap';
@import 'aspnet-validation';
@import 'loading-overlay.scss';
@import 'sidebar.scss';
@import 'table-data.scss';
@import 'progress-stepper.scss';

body {
    min-height: 100vh;

    #app {
        background-color: #fcfcfc;
        ;
    }

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }
    /* Gives red colored font.*/
    .red {
        color: red
    }
    /* Gives green colored font.*/
    .green {
        color: green;
    }

    .w-15 {
        width: 15%;
    }

    table {
        .vdp-datepicker__calendar {
            position: relative
        }
    }

    .content {
        width: 100%;
    }
}

// if you need a sidebar, use this: https://getbootstrap.com/docs/4.0/examples/dashboard/
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
    Default AES form styling class.
    For any kind of form like in the Employee Master Data (detail), you should use this class.
*/
.aes-form {
    .form-group {
        label:first-child {
            font-weight: bold;
        }
    }
}

/*
 * Utilities
 */

.textarea-no-resize {
    resize: none;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.front{
    z-index: 999;
}

.min-height-100{
    min-height: 100%;
}