﻿@import url("https://fonts.googleapis.com/css?family=Nunito:400,900");

.progress_inner__step:before, .progress_inner, .progress_inner__status .box_base, .progress_inner__status .box_item, .progress_inner__status .box_ribbon, .progress_inner__status .box_bow, .progress_inner__status .box_bow__left, .progress_inner__status .box_bow__right, .progress_inner__status .box_tag, .progress_inner__status .box_string {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
}

.progress_inner__bar, .progress_inner__bar--set {
    height: 16px;
    left: 9%;
    background: repeating-linear-gradient(45deg, #1ea4ec, #1ea4ec 4px, #1f8bc5 4px, #1f8bc5 10px);
    transition: width 800ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
    border-radius: 6px;
    width: 0;
    position: relative;
    z-index: -1;
}

.progress_inner__step:before {
    width: 30px;
    height: 30px;
    color: #ffffff;
    background: #6c757d;
    line-height: 25px;
    border: 3px solid #ffffff;
    font-size: 12px;
    top: 3px;
    border-radius: 100%;
    transition: all 0.4s;
    cursor: pointer;
    pointer-events: none;
}

.progress_inner__step {
    width: 20%;
    font-size: 14px;
    padding: 0 10px;
    transition: all 0.4s;
    float: left;
    text-align: center;
    position: relative;
}

.progress_inner__step label {
    padding-top: 50px;
    top: -20px;
    display: block;
    position: relative;
    cursor: pointer;
}

.progress_inner__step:hover {
    color: #1ea4ec;
}

.progress_inner__step:hover:before {
    color: white;
    background: #1ea4ec;
}

.progress_inner {
    font-family: "Nunito", sans-serif;
    background: #a6cde2;
    color: #2e6c8e;
    display: contents;
}

.progress_inner #step-2:checked + div {
    width: 22%;
    top: 10px
}

.progress_inner #step-2:checked + div + div + div > .tab:nth-of-type(2) {
    opacity: 1;
    top: 40px;
    z-index: 5;
}

.progress_inner #step-2:checked + div + div + div + div {
    right: 70%;
}

.progress_inner #step-1:checked + input + div {
    width: 0%;
    top: 10px;
}

.progress_inner #step-1:checked + input + div + div + div > .tab:nth-of-type(1) {
    opacity: 1;
    top: 40px;
    z-index: 5;
}

.progress_inner #step-1:checked + input + div + div + div + div {
    right: 90%;
}

.progress_inner__step:nth-of-type(1):before {
    content: "1";
}

.progress_inner__step:nth-of-type(2):before {
    content: "2";
}

.progress_inner__bar--set {
    width: 22%;
    top: -6px;
    background: #70afd0;
    position: relative;
    z-index: -2;
}

.progress_inner__tabs .tab {
    width: 80%;
    opacity: 0;
    position: absolute;
    top: 80px;
    margin-top: 20px;
    box-shadow: 0px 2px 1px #80b7d5;
    padding: 30px;
    background: white;
    border-radius: 10px;
    transition: all 0.2s;
    z-index: -1;
}

.progress_inner__tabs .tab h1 {
    margin: 0;
}

.progress_inner__tabs .tab p {
    font-weight: 400;
    opacity: 0.8;
}

.progress_inner__status {
    width: 40px;
    height: 40px;
    top: -80px;
    transition: right 800ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    position: absolute;
}

.progress_inner__status div {
    opacity: 0;
    transition: all 600ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
    transition-delay: 300ms;
}

.progress_inner__status div {
    position: absolute;
}

.progress_inner__status .box_base {
    background: repeating-linear-gradient(45deg, #986c5d, #986c5d 2px, #775144 2px, #775144 4px);
    width: 36px;
    height: 40px;
    z-index: 1;
    border-radius: 1px;
}

.progress_inner__status .box_lid {
    width: 40px;
    height: 13.3333333333px;
    background: #775144;
    z-index: 2;
    border-radius: 1px;
    top: 0;
}

.progress_inner__status .box_item {
    width: 20px;
    height: 20px;
    background: #be69d2;
    z-index: 0;
    border-radius: 4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.progress_inner__status .box_ribbon {
    width: 10px;
    height: 42px;
    background: #ee0f29;
    z-index: 4;
    border-radius: 1px;
}

.progress_inner__status .box_bow__left, .progress_inner__status .box_bow__right {
    width: 6px;
    height: 10px;
    background: #be0c21;
    position: absolute;
    z-index: 3;
    opacity: 1;
    border-radius: 1px;
}

.progress_inner__status .box_bow {
    top: -6px;
    z-index: 1;
    transition-delay: 500ms;
}

.progress_inner__status .box_bow__left {
    left: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.progress_inner__status .box_bow__right {
    left: -4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.progress_inner__status .box_tag {
    width: 20px;
    height: 10px;
    background: #487ac7;
    z-index: 4;
    -webkit-transform: rotate(-10deg) translateX(-40px) translateY(0px);
    transform: rotate(-10deg) translateX(-40px) translateY(0px);
    border-radius: 2px;
    transition-delay: 500ms;
}

.progress_inner__status .box_string {
    width: 17px;
    height: 2px;
    background: #343434;
    z-index: 4;
    -webkit-transform: rotate(-39deg) translateX(-22px) translateY(-12px);
    transform: rotate(-39deg) translateX(-22px) translateY(-12px);
}

.progress_inner input[type="radio"] {
    display: none;
}
