﻿/* Reference: https: //bootstrapious.com/p/bootstrap-sidebar */

.navigation-color {
    background-color: #85C97E !important;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


body {
    $sidebarMarginLeft: -255px;
    $sidebarMaxWidth: 255px;
    $sidebarMinWidth: 255px;
    $sidebarBackgroundColor: #34404D;


    #sidebar.active {
        margin-left: $sidebarMarginLeft;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    @media (max-width: 768px) {
        #sidebar {
            z-index: 1000;
            position: fixed;
            margin-left: $sidebarMarginLeft;
        }

        #sidebar.active {
            margin-left: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }

    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    #sidebar {
        min-width: $sidebarMinWidth;
        max-width: $sidebarMaxWidth;
        min-height: 100vh;
        background: $sidebarBackgroundColor;
        background-image: url("/images/BMKGBuilding2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #fff;
        transition: all 0.3s;
        /*font-size: 10px;*/
        .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        ul {
            p {
                color: #fff;
                padding: 10px;
            }

            li {
                a {
                    padding: 10px;
                    font-size: 1.1em;
                    display: block;
                }

                a:hover {
                    color: white;
                    background: #263240;
                }

                a.active {
                    color: white;
                    background: #3770c6;
                }
            }

            li.active > a, a[aria-expanded="true"] {
                color: white;
                background: #212020;
            }

            ul {
                a {
                    font-size: 0.9em !important;
                    padding-left: 30px !important;
                    background: #131920 !important;
                    color: white;
                }

                a.active {
                    color: white;
                    background: #efe2ba;
                }

                a:hover {
                    color: white !important;
                }
            }
        }
    }
}
