﻿$light-blue: #edf3f9;


.button-sumbit{
    justify-content: flex-end;
    display: grid;
}


.background-content {
    background-color: white;
    border-radius: 10px;
}


.btn {
    margin-bottom: 10px;
    min-width: 125px;
}

.header-line {
    width: 100%;
    color: black;
    height: 1px;
    background-color: black;
    margin: 5px 0;
    opacity: .2;
}

.menu-panel {
    padding: 1em;
    color: grey;
    background: white;
    box-shadow: 0px 0px 2px #999999;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    width:100%;
}

.panel-inside-padding {
    padding-right: 1em;
    padding-left: 1em;
}

.form-horizontal {
    .form-group {
        margin-bottom: 0;
        padding: 3px 0;
    }

    .control-label {
        text-align: left;
    }

    .radio-inline {
        padding-bottom: 7px;
    }
}

.row-striped > .form-group:nth-child(odd) {
    background-color: $light-blue;
}

.mandatory{
    color:red;
}

.form-horizontal {
    .form-group {
        margin-bottom: 0;
        padding: 3px 0;
    }

    .control-label {
        text-align: left;
    }

    .radio-inline {
        padding-bottom: 7px;
    }
}



.form-group {
    .form-note {
        color: red;
        font-size: 12px;
        font-style: italic;
        margin-bottom: 0;
    }

    &.form-datepicker {
        .control-label,
        .input-group,
        .form-control {
            margin-top: 29px;
        }

        .uib-timepicker .form-control,
        .input-group .form-control {
            margin-top: 0;
        }

        .uib-timepicker a.btn {
            background-color: transparent;
            padding: 5px;

            &:focus,
            &:hover {
                text-decoration: none;
            }

            span {
                display: block;
            }
        }

        .ui-select-bootstrap {
            margin-top: 37px;

            .form-control {
                margin-top: 0;
            }
        }
    }

    .input-group {
        .input-group-addon {
            background-color: white;
        }
    }
}

.dm2 {
    margin-right: 40px;
    background-color: #85C97E !important;
}

.dropdown-item {
    background-color: #85C97E !important;
}

.dropdown-item:hover {
    background-color: #85C97E !important;
}


.ppkecil {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    border: black solid 1px;
}

.authlogin {
    color: black;
}

.layout-photo{
    width: 100%;
    height: 400px;
}

.w-85{
    width:83%;
}


@media only screen and (min-width:320px) and (max-width:768px){

    .w-85{
        width:100%;
    }
}

.btn-colapse:focus {
    outline: 0;
}

.btn-colapse {
    background: none;
    border: none;
    padding: 1% 15%;
}