﻿<template>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h1>Asset Category</h1>
      </div>

      <div class="header-line"></div>
      <div class="menu-panel">
        
        <div class="text-right">
          <p>
            <b>Show <select></select> items per page </b>
          </p>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Asset Category</th>
                <th>Description</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>
              </tr>
              <tr>
                <td>
                  <input type="text" class="form-control"></input>
                </td>
                <td>
                  <input type="text" class="form-control"></input>
                </td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Elektronik
                </td>
                <td>
                  Semua kategori asset elektronika
                </td>
                <td class="text-center">
                  <button class="btn-primary button-table">
                    <fa icon="edit"></fa>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn-danger button-table">
                    <fa icon="trash-alt"></fa>
                  </button>
                </td>
              </tr>

              <tr>
                <td>
                  Kendaraan
                </td>
                <td>
                  Semua kategori asset kendaraan pada kantor
                </td>
                <td class="text-center">
                  <button class="btn-primary button-table">
                    <fa icon="edit"></fa>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn-danger button-table">
                    <fa icon="trash-alt"></fa>
                  </button>
                </td>
              </tr>

              <tr>
                <td>
                  Bangunan
                </td>
                <td>
                  Semua kategori asset bangunan
                </td>
                <td class="text-center">
                  <button class="btn-primary button-table">
                    <fa icon="edit"></fa>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn-danger button-table">
                    <fa icon="trash-alt"></fa>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="menu-panel col-md-12">
        <div class="panel-inside-padding">
          <form @submit.prevent="showConfirmation()" class="form-horizontal row-striped">
            <div class="form-group row">
              <div class="col-sm-3">
                <label class="control-label">
                  Asset Category<span class="mandatory"> *</span>
                </label>
              </div>
              <div class="col-sm-9">
                <div class="col-sm-12">
                  <input class="form-control" v-model="message" />
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-3">
                <label class="control-label">
                  Description<span class="mandatory"> *</span>
                </label>
              </div>
              <div class="col-sm-9">
                <div class="col-sm-12">
                  <textarea class="form-control" rows="4" v-model="address"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
   <div class="row text-right">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-primary" >Save</button>
        <button type="reset" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class AssetLocation extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";

  showConfirmation() {

  }
  }
</script>
