﻿@* Reference: https://bootstrapious.com/p/bootstrap-sidebar *@

@{
    var groupItemIconClass = "mr-2";
}

<nav id="sidebar">
    <ul class="list-unstyled">

        @*Laporan Monitor*@
        <li>
            <a asp-page="/Index"
               acl-active="ViewBag.Page == NavigationMenu.Inbox">
                <fa icon="tachometer-alt" class="mr-2"></fa>
                <span>Dashboard</span>
            </a>
        </li>

        @*Pagu*@
        <li>
            <a asp-page="/Pagu"
               acl-active="ViewBag.Page == NavigationMenu.Inbox">
                <fa icon="money-check-alt" class="mr-2"></fa>
                <span>Pagu</span>
            </a>
        </li>

        <li>
            <a href="#database"
               data-toggle="collapse"
               aria-expanded="false"
               class="dropdown-toggle">
                <fa icon="database" class="mr-2"></fa>
                <span>Database</span>
            </a>

            <ul class="collapse list-unstyled" id="database">
                @*Daftar Aset *@
                <li>
                    <a asp-page="/Database/DaftarAset"
                       acl-active="ViewBag.Page == NavigationMenu.Inbox">
                        <div class="row">
                            Daftar Aset
                        </div>
                    </a>
                </li>

                @*Daftar Penyedia*@
                <li>
                    <a asp-page="/Database/DaftarPenyedia"
                       acl-active="ViewBag.Page == NavigationMenu.Inbox">
                        <div class="row">
                            Daftar Penyedia
                        </div>
                    </a>
                </li>

                <li>
                    <a asp-page="/Database/DaftarPengguna"
                       acl-active="ViewBag.Page == NavigationMenu.CreateRequest">
                        <div class="row">
                            Daftar Pengguna
                        </div>
                    </a>
                </li>

                <li>
                    <a asp-page="/Database/Jabatan"
                       acl-active="ViewBag.Page == NavigationMenu.CreateRequest">
                        <div class="row">
                            Jabatan
                        </div>
                    </a>
                </li>
                <li>
                    <a asp-page="/Database/UnitKerja"
                       acl-active="ViewBag.Page == NavigationMenu.CreateRequest">
                        <div class="row">
                            Unit Kerja
                        </div>
                    </a>
                </li>

            </ul>
        </li>



        @*Realisasi Pemeliharaan*@
       
        <li>
            <a href="#transaksipemeliharaan"
               data-toggle="collapse"
               aria-expanded="false"
               class="dropdown-toggle">
                <fa icon="cash-register" class="mr-1"></fa>
                <span>Transaksi Pemeliharaan</span>
            </a>
            <ul class="collapse list-unstyled" id="transaksipemeliharaan">
                <li>
                    <a asp-page="/TransaksiPemeliharaan/BelanjaBahanNonJasa"
                       acl-active="ViewBag.Page == NavigationMenu.Inbox">
                        <div class="row">
                            Belanja Bahan Non Jasa
                        </div>
                    </a>
                    <a asp-page="/TransaksiPemeliharaan/BelanjaJasaOutsourcing"
                       acl-active="ViewBag.Page == NavigationMenu.Inbox">
                        <div class="row">
                            Belanja Jasa Outsourcing
                        </div>
                    </a>
                    <a asp-page="/TransaksiPemeliharaan/HonorJasaOutsourcing"
                       acl-active="ViewBag.Page == NavigationMenu.Inbox">
                        <div class="row">
                            Honor Jasa Outsourcing
                        </div>
                    </a>
                    <a asp-page="/TransaksiPemeliharaan/PemeliharaanGedungDanBangunan"
                       acl-active="ViewBag.Page == NavigationMenu.Inbox">
                        <div class="row">
                            Pemeliharaan Gedung Dan Bangunan
                        </div>
                    </a>
                    <a asp-page="/TransaksiPemeliharaan/PemeliharaanKendaraanOperasional"
                       acl-active="ViewBag.Page == NavigationMenu.Inbox">
                        <div class="row">
                            Pemeliharaan Kendaraan Operasional
                        </div>
                    </a>
                    <a asp-page="/TransaksiPemeliharaan/PemeliharaanKompleksGedungSerbagunaCiteko"
                       acl-active="ViewBag.Page == NavigationMenu.Inbox">
                        <div class="row">
                            Pemeliharaan Kompleks Gedung Serbaguna Citeko
                        </div>
                    </a>
                    <a asp-page="/TransaksiPemeliharaan/PemeliharaanPeralatanMesin"
                       acl-active="ViewBag.Page == NavigationMenu.Inbox">
                        <div class="row">
                            Pemeliharaan Peralatan Mesin
                        </div>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#laporan"
               data-toggle="collapse"
               aria-expanded="false"
               class="dropdown-toggle">
                <fa icon="file-alt" class="mr-2"></fa>
                <span>Monitoring</span>
            </a>
            <ul class="collapse list-unstyled" id="laporan">
                @*Monitoring STNK*@
                <li>
                    <a asp-page="/Monitoring/MonitoringSTNK"
                       acl-active="ViewBag.Page == NavigationMenu.Inbox">
                        <div class="row">
                            Monitoring STNK
                        </div>
                    </a>
                </li>
            </ul>

            @*Penghapusan aset*@
        <li>
            <a asp-page="/PenghapusanAset"
               acl-active="ViewBag.Page == NavigationMenu.Inbox">
                <fa icon="trash" class="mr-2"></fa>
                <span>Penghapusan Aset</span>
            </a>
        </li>

</nav>