﻿<nav class="navbar navbar-expand-lg navigation-color front pt-0 pb-0 pl-0">
    <a asp-page="/Index" style="color: white; font-size:x-large"
       class="navbar-brand ml-2 authlogin">
        <img src="~/images/BMKG.png" alt="" style="width:50px; padding-right:10px;"/>Aplikasi Managemen Aset
    </a>
    <button id="sidebarCollapse"
            type="button"
            class="navbar-toggler">
        <i class="fas fa-align-left"></i>
    </button>

    <button type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            @*<li class="nav-item">
                <span href="#"
                      class="nav-link text-white">
                    <a href="/Inbox/Inbox"><fa class="fa-lg" icon="envelope"></fa></a>
                </span>
            </li>*@
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle dm2" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="ppkecil img-fluid" style="border-color: white" src="~/images/default.jpg">
                    <span class="authlogin" style="color: white">Arga Revata</span>
                </a>
                <div class="dropdown-menu dm2" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item" style="color:white;" href="">My Profile</a>
                    <a class="dropdown-item" style="color:white;" href="">Change Password</a>
                    <a class="dropdown-item" style="color:white;" href="">Logout</a>
                </div>
                </a>
            </li>
        </ul>
    </div>
</nav>