﻿<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Monitoring STNK</h1>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="row">
                            <div class="col-md-10" style="padding-top:5px;">
                                <b>Jumlah kendaraan:</b>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" v-model="kodeBarang" disabled="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-line"></div>
            <div class="menu-panel">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <b>
                                Bulan:
                                <select>
                                    <option value="Januari">Januari</option>
                                    <option value="Februari">Februari</option>
                                    <option value="Maret">Maret</option>
                                    <option value="April">April</option>
                                    <option value="Mei">Mei</option>
                                    <option value="Juni">Juni</option>
                                    <option value="Juli">Juli</option>
                                    <option value="Agustus">Agustus</option>
                                    <option value="September">September</option>
                                    <option value="Oktober">Oktober</option>
                                    <option value="November">November</option>
                                    <option value="Desember">Desember</option>
                                </select>
                                Tahun:
                                <select>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                </select>
                            </b>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>
                                <b>
                                    Show <select></select> items per page
                                </b>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nomor Polisi</th>
                                <th>Tanggal Pembayaran</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control"></input>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input class="form-control" type="date"></input>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    B 1999 CKM
                                </td>
                                <td>
                                    10 Maret 2019
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    B 1997 CKM
                                </td>
                                <td>
                                    10 Maret 2015
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    B 1990 CKM
                                </td>
                                <td>
                                    10 Maret 2016
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
  props: ['framework', 'compiler']
  })
  export default class MonitoringSTNK extends Vue {
  framework: string;
  compiler: string;
  message: string = "";
  address: string = "";
  kodeBarang: number = 3;

  showConfirmation() {

  }
  }
</script>
